services:
  db:
    image: postgres
    env_file: .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    image: python
    working_dir: /app
    command: >
      sh -c "
      pip install --no-cache-dir -r requirements.txt &&
      uvicorn main:app --host 0.0.0.0 --port 8000 --reload
      "
    volumes:
      - ./backend:/app
    env_file: .env
    depends_on:
      - db
    ports:
      - "8000:8000"

  frontend:
      image: node:25-alpine
      working_dir: /app
      command: >
        sh -c "
        npm install &&
        npm run dev -- --host
        "
      volumes:
        - ./frontend:/app
      ports:
        - "5173:5173"
      environment:
        HOST: 0.0.0.0
      depends_on:
        - backend

volumes:
  db_data: