@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  color: hsla(0, 0%, 100%, 86%);
  background-color: hsl(0, 0%, 12%);
}

button {
  font-weight: 500;
}

span {
  transition: 0.15s;
}

.title-large {
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: -0.03em;
}

.title-medium {
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: -0.03em;
}

.title-small {
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: normal;
}
